.container {
    width: 512px;
    height: 512px;
    text-align: center;
    margin: 0 auto;
    background-image: url(https://kikill95.github.io/Tagging/image.jpg);
    background-repeat: no-repeat;
    border: 2px solid black;
    background-position: center;
    position: relative;
    .dragElement{
        position: absolute;
        left: 0;
        
        .elem, .delete{
            background-color: rgba(78, 74, 74, 0.637);
            height: 30px;
            color: #fff;
            border: hidden;
        }
        .elem{
            width: 100px;
        }
        .delete{
            margin-left: -4px;
            width: 30px;
        }
    }

    .a1{
        bottom: 100px
    }
    .a2{
        bottom: 200px
    }
    .a3{
        bottom: 300px
    }
}

.displayNone{
    display:none
}